  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

::-webkit-scrollbar{
    background: black;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #f0b106,  #f0b106);
    border-radius: 10px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    font-weight: 300;
    /* transition: 0.7s; */
}
body{
    overflow-x: hidden;
}
nav{
    height: 60px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}


/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-size: 20px;
    font-weight: bold;
    color: black;
}


/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    font-size: 13px;
    margin: 0 1.7vw;
    font-weight: 600;
    color: #000;
}
.nav-links li a:hover {
    color: #a00023;
}
.nav-links li {
    position: relative;
}
.nav-links li a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #a00023;
    position: absolute;
    bottom:-7px;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::after{
    width: 80%;
}




/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #000;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}